astroid==3.3.9
colorama==0.4.6
dill==0.3.9
exceptiongroup==1.2.2
iniconfig==2.1.0
isort==6.0.1
Jinja2==3.1.6
MarkupSafe==3.0.2
mccabe==0.7.0
packaging==24.2
platformdirs==4.3.7
pluggy==1.5.0
pylint==3.3.6
pytest==8.3.5
pytest-html==4.1.1
pytest-metadata==3.1.1
python-dateutil==2.9.0.post0
PyYAML==6.0.2
robotframework==7.2.2
six==1.17.0
tomli==2.2.1
tomlkit==0.13.2
typing_extensions==4.13.1

